.row-header{
   margin: 0px auto;
   padding:0px;
}
.row-content{
   margin: 0px auto;
   padding:50px 0px 50px 0px;
   border-bottom: 1px ridge;
   min-height: 400px;  
}
.footer{
	background-color: #D1C4E9;
  margin: 0px auto;  
    padding:20px 0px 20px 0px;
}
.jumbotron{
	margin: 0px auto;
  padding:70px 30px 70px 30px;
	background-color: #9575CD;
	color: floralwhite;
}
.address{
	font-size: 80%;
	margin: 0px auto;
	color: #0f0f0f;
}
body{
  padding: 50px 0px 0px 0px;
  z-index: 0; 
}
.navbar-dark{
   background-color:#512DA8; 
}
.tab-content{
  padding: 10px;
  border-left:solid 1px #ddd;
  border-right:solid 1px #ddd;
  border-bottom:solid 1px #ddd;
}